.wrapper {
	margin: 0 30%;
	margin-top: 20vh;
	padding: 5px;
	text-align: center;
	background-color: rgb(0,0,0,0.15);
	border-radius: 10px;
	min-height: 300px;
	box-shadow:
	/* rgb(0,0,0,0.1) 0px 340px 5px 0px, */
	/* rgb(0,0,0,0.5) -460px 0px 0px 0px, */
	/* rgb(0,0,0,0.5) 460px 0px 0px 0px, */
	rgb(0,0,0,0.5) 0px 9px 10px 0px;
}
input, button {
	font-size: 120%;
}
input {
	border: none;
	outline: none;
	padding-left: 10px;
}
button {
	font-weight: bold;
	background-color: rgb(0,0,0,0.9);
	color: white;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.todolist {
	padding: 5px;
	margin-top: 10px;
	min-height: 150px;
	/* width: 50%; */
	max-height: 40vh;
	overflow: auto;
}
.todolist ul {
	list-style-type: square;
	text-align: start;
}
/* .todolist li {
} */
